.bg-custom {
  background: rgb(19, 10, 10);
}
.bg-coffee {
  background-image: url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1061&q=80);
  min-height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
}

.bg-img-2 {
  background-image: url(https://images.unsplash.com/photo-1498804103079-a6351b050096?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  min-height: 20vh;
  min-width: 20vh;
  background-position: center;
  background-size: cover;
}
.bg-img-3 {
  background-image: url(https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29mZmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  min-height: 20vh;
  min-width: 20vh;
  background-position: center;
  background-size: cover;
}
.bg-img-4 {
  background-image: url(https://images.unsplash.com/photo-1522992319-0365e5f11656?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  min-height: 20vh;
  min-width: 20vh;
  background-position: center;
  background-size: cover;
}

.logo {
  height: 50px;
  width: 50px;
}
.logo:hover {
  cursor: pointer;
  transition: all 0.02s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}
.newstuff div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-div {
  box-shadow: 0px 0px 50px black;
}
